 @import '../../fonts.css';
@import 'leaflet/dist/leaflet.css';

 body {
  font-family: 'Manrope', sans-serif;
}

 // first block
.block-first {
  width: 1316px;
  background-color: #D5D2F9;
  align-content: center;
  margin: 0 auto;
  display: block;
  border-radius: 40px;
  height: 623px;
}

.block-first-text-article {
  display: flex;
  padding: 50px 93px 0;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 35px;
  line-height: 56px;
  color: #1B1B1B;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.block-first-text-main {
  display: flex;
  padding: 40px 351px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 23px;
  line-height: 36.8px;
  color: #1B1B1B;
  text-align: center;
  font-style: normal;
}

button {
  display: inline-block;
  margin: 25px 73.5px 0 73.5px;
  background: #ECFB9E;
  border-radius: 50px;
  height: 75px;
  left: 406px;
  border: none;
}

.button-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #4F4F4F;
  margin: 0 58px;
  width: 120px;
}

p {
  text-align: center;
}

.text-after-button {
  display: flex;
  justify-content: center;
  gap: 147px;

  margin-top: -20px;
  padding-left: 35px;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  color: #1B1B1B;
}

 // second block
.block-second {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 886px;
}

.first-block {
  width: 637px;
  background-color: #ECF2F9;
  border-radius: 40px;
}

.second-block {
  width: 637px;
  border-radius: 40px;
}

.img-first {
  width: 100%;
  height: 100%;
  //object-fit: cover;
}

.arrow-left-second {
  text-align: left;
}

.arrow-right-second {
  text-align: right;
}

.arrow-left-second:focus,
.arrow-right-second:focus {
  outline: none;
}

.cards-container {
  position: relative;
  margin-top: 40px;
}

.arrow-left-second,
.arrow-right-second {
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;

  user-select: none;
  font-family: Mishafi, sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #1B1B1B;
  z-index: 2;
}

.arrow-left-second {
  left: -15px;
  margin-left: 30px;
}

.arrow-right-second {
  right: -10px;
  margin-left: 0;
  margin-right: 35px;
}


h2 {
  margin-top: 60px;
  margin-left: 60px;
  padding-bottom: 5px;
  font-size: 35px;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  color: #1B1B1B;
}

.text-inside-first-block {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #1B1B1B;
  margin: 35px 41px 0 60px;
  text-align: left;

  flex: none;
  order: 0;
  flex-grow: 0;
}

 // third block
 .block-third {
   width: 1316px;
   background-color: #F2FCBE;
   align-content: center;
   margin: 100px auto;
   display: block;
   border-radius: 40px;
   height: 517px;
 }

 .third-block-main-text {
   margin-left: 60px;
   padding-top: 60px;
   padding-left: 0;
   text-align: left;
 }

 .row {
   display: flex;
   margin: 0 -50px 0 0;
 }

 .column {
   flex-grow: 1;
   padding: 0 50px 0 0;
 }

.img-second {
  width: 151px;
  height: 151px;
  border-radius: 20px;

  padding-top: 0;
  margin-top: 32px;
  margin-left: 108px;
}

.numbers {
  font-weight: 500;
  font-size: 35px;
  line-height: 48px;
  color: #1B1B1B;

  padding-top: 0;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 60px;
  text-align: left;
}

.steps {
  padding-top: 0;
  margin-top: 45px;
  margin-left: 20px;
  text-align: left;

  width: 204px;

  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  color: #1B1B1B;
}

 .steps-first {
   width: 204px;
   text-decoration-line: underline;
 }

 .steps-first:hover {
   color: #a0eae8;
 }

 .steps-second {
   width: 358px;
 }

 .steps-third {
   width: 359px;
   margin-right: 77px;
 }

 //block fourth
 .block-fourth {
   align-content: center;
   margin: 100px auto;
   display: block;
   border-radius: 40px;

   width: 1316px;
   height: 572px;
   background-color: #DBE5F2;
 }

 .cards {
   margin-top: 40px;
   margin-left: 60px;
   margin-right: 78px;
   display: flex;
   overflow-x: scroll;
   height: 333px;
 }

 .cards::-webkit-scrollbar { width: 0; }

 .card {
   background-color: #FCFCFC;
   margin-right: 35px;
   box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
 }

 .last-card {
   margin-right: 0;
 }

 .card-image {
   width: 228px;
   height: 195px;
   padding: 20px;
   border-radius: 20px;
 }

 a {
   color: #1B1B1B;

   &:hover {
     color: #1B1B1B;
   }

   &:visited {
     color: #1B1B1B;
   }
 }

 .card-text {
   font-weight: 400;
   font-size: 13px;
   line-height: 18px;
   text-align: center;
   color: #1B1B1B;
   margin: 5px 32px;
 }

 .fourth-block-text {
   display: flex;
   flex-direction: column;
   font-weight: 500;
   font-size: 35px;
   line-height: 48px;
   color: #1B1B1B;
   text-transform: uppercase;
   padding-top: 60px;
   padding-left: 0;
   text-align: center;
 }

 .main-text {
   width: 1330px;
   font-weight: 500;
   font-size: 40px;
   line-height: 64px;
   margin: 0 auto;
   text-transform: uppercase;
   color: #1B1B1B;
 }

 .text-together {
   white-space: nowrap
 }

 .circle-div {
   text-align: center;
 }

 .circle {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #E9FA93;
   margin: 25px 7px;
 }

 // fifth block
 .block-fifth {
   margin-top: 100px;
   display: flex;
   justify-content: center;
   gap: 41px;
   height: 909px;
 }

 .fifth-block {
   width: 637px;
   background-color: #F5F5F5;
   border-radius: 40px;
 }

 .img-fifth {
   width: 100%;
   height: 100%;
 }

 .text-inside-fifth-block {
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;
   color: #1B1B1B;
   margin: 35px 35px 0 60px;
   text-align: left;

   flex: none;
   order: 0;
   flex-grow: 0;
 }

 .first-article {
   margin-top: 60px;
 }

 .new-text {
   font-weight: 500;
   font-size: 22px;
   line-height: 160%;
   margin: 60px 28px 0 60px;
   text-align: left;
 }

 // sixth block
 .block-sixth {
   width: 1316px;
   background-color: #D5D2F9;
   align-content: center;
   margin: 100px auto;
   display: block;
   border-radius: 40px;
   height: 986px;
 }

 .sixth-block {
   width: 1123px;
   margin-bottom: 0;
   margin-left: 60px;
   text-align: left;
   text-transform: none;
 }

 .lesson-plan-body {
   display: flex;
   justify-content: space-between;
 }

 .certificate-text {
   font-weight: 400;
   font-size: 22px;
   line-height: 160%;
   color: #1B1B1B;
   text-align: left;
   margin-left: 60px;
   margin-right: -70px;
   margin-top: 40px;
 }

 .certificate-text-title {
   margin-left: 0;
   margin-top: 0;
   white-space: nowrap;
 }

 .next-lines {
   margin-left: 0;
   width: 379px;
   font-size: 20px;
 }

 .lesson-plan-form {
   width: 718px;
   background: #FCFCFC;
   box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
   border-radius: 30px;
   margin: 115px 86px 60px;
   padding: 59px 59px 0 56px;
 }

 .lesson-plan-form label,
 .lesson-plan-form input {
   display: block;
   margin-bottom: 10px;
   font-size: 18px;
 }

 .lesson-plan-form button {
   display: block;
   margin: 70px auto;
   font-size: 18px;
   font-weight: 600;
   line-height: 25px;
   color: #4F4F4F;
   border: none;
   cursor: pointer;

   padding: 25px;

   width: 150px;
   height: 75px;

   background: #ECFB9E;
   border-radius: 50px;
 }

 .form-text {
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   color: #1B1B1B;
   margin-bottom: 15px;
   margin-top: 40px;
 }

 .form-text-first {
   margin-top: 0;
 }

 input {
   background-color: transparent;
   border: none;
   border-bottom: 0.5px solid black;
   width: 437px;
   height: 25px;
 }

 input:focus {
   outline: none;
 }

 // seventh block

 .block-seventh {
   margin-top: 132px;
   display: flex;
   justify-content: center;
   gap: 40px;
   height: 572px;
 }

 .seventh-first-block {
   width: 412px;
   background-color: #DBE5F2;
   border-radius: 40px;
 }

 .seventh-second-block {
   height: 100%;
   width: 864px;
   border-radius: 40px;
   background-color: #F5F5F5;
 }

 .img-first {
   width: 100%;
   height: 100%;
   //object-fit: cover;
 }

 .mapArticle {
   padding-bottom: 0;
   font-size: 30px;
 }

 .text-inside-seventh-block {
   margin: 40px 55px 0 60px;
   width: 310px;
 }

// eight block

 .block-eight {
   align-content: center;
   margin: 100px auto;
   display: block;
   border-radius: 40px;

   width: 1316px;
   height: 395px;
   //background-color: #D5D2F980;
 }

 .cards-second {
   margin-top: 40px;
   margin-left: 60px;
   margin-right: 84px;
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
   height: 200px;
 }

 .cards-second::-webkit-scrollbar { width: 0; }

 .card-second {
   margin-right: 80px;
   border-radius: 20px;

 }

 .last-card-second {
   margin-right: 0;
 }

 .card-image-second {
   width: 233px;
   border-radius: 20px;
   height: 180px;
 }

 .cards-second-container {
  display: flex;
  align-items: center;
}

.arrow-left,
.arrow-right {
  font-size: 3rem;
  height: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  user-select: none;
  width: 8px;
  border-radius: 2px;
  font-family: Mishafi, sans-serif;
}



.arrow-left:focus,
.arrow-right:focus {
  outline: none;
}


 /* Mobile Styles */
 @media screen and (max-width: 767px) {
   /* General adjustments and first block*/
   .block-first, .block-third, .block-fourth, .block-sixth, .block-eight {
     width: 100%;
     border-radius: 30px;
   }

   .block-first{
     width: 340px;
     height: 756px;
     margin: 0 auto;
     border-radius: 30px;
   }

   .block-first-text-article {
     font-weight: 500;
     font-size: 22px;
     line-height: 35px;
     text-align: center;
     padding: 50px 20px 0 20px;
   }

   .block-first-text-main {
     font-weight: 500;
     font-size: 14px;
     line-height: 22px;
     text-align: center;
     color: #1B1B1B;
     padding: 25px 20px 0 20px;

     margin: 0;
   }

   .button-text {
     width: 221px;
     font-weight: 500;
     line-height: 23px;
     text-align: center;
     margin-left: 0;
   }

   button {
     margin: 45px auto 0;
     padding: 20px 10px;
     width: 241px;
     height: 63px;
     border: none;
   }

   .text-after-button {
     display: block;
     font-size: 11px;
     line-height: 15px;
     margin-top: -122px;
     padding-left: 0;
   }

   .text-after-button-second {
     margin-top: 93px;
   }

   /* Second block */
   .block-second, .block-fifth, .block-seventh {
     flex-direction: column;
     height: auto;
     margin: 85px auto;
     width: 340px;
     border-radius: 30px;
   }

   .block-second {
     width: 340px;
   }

   .first-block {
     width: 340px;
     height: 860px;
   }

   .second-block {
     height: 386px;
     width: 340px;
   }

   h2 {
     font-weight: 500;
     font-size: 24px;
     line-height: 33px;
     margin-top: 45px;
     margin-left: 21px;
   }

   .text-inside-first-block {
     font-weight: 400;
     font-size: 15px;
     line-height: 24px;
     margin: 25px 36px 0 21px;
   }

   /* Third block */
   .block-third {
     height: auto;
     margin: 0 auto;
     padding-bottom: 45px;
     width: 340px;
     align-content: center;
     display: flex;
     flex-direction: column;
   }

   .third-block-main-text {
     font-weight: 500;
     font-size: 24px;
     line-height: 160%;
     margin: 0 auto;

     padding-top: 45px;
     padding-left: 20px;
     width: 300px;
     text-align: left;
   }

   .img-second {
     width: 132px;
     height: 132px;
     border-radius: 20px;

     padding-top: 0;
     margin-top: 20px;
     margin-left: 20px;
   }

   .numbers {
     font-size: 25px;
     line-height: 34px;

     padding-top: 0;
     margin-top: 35px;
     margin-bottom: 0;
     margin-left: 20px;
     text-align: left;
   }

   .steps {
     padding-top: 0;
     margin-top: 20px;
     margin-left: 20px;
     text-align: left;
     width: 265px;

     font-size: 15px;
     line-height: 24px;
   }

   .steps-first {
     width: 150px;
   }

   /* Fourth block */
   .block-fourth {
     margin: 85px auto;
     height: 606px;
     width: 340px;
   }

   .fourth-block-text {
     font-weight: 500;
     font-size: 24px;
     line-height: 160%;

     margin-left: 20px;
     padding-top: 45px;
     padding-left: 0;
     text-align: left;
   }

   .cards {
     margin-left: 37px;
     margin-right: 37px;
     margin-top: 40px;
     height: 326px;
     padding-right: -30px;
   }

   .card-text {
     margin: -5px 32px;
   }
   .circle {
     width: 10px;
     height: 10px;
     margin: 25px 7px;
   }

   .cards-container {
    width: 350px;
  }

   .arrow-left-second {
  left: 0;
     margin-left: 0;
  width: 5px;
}

   .cards-container {
  position: marker;
}

.arrow-right-second {
  width: 5px;
  right: 0;
  margin-right: 0;
  margin-left: -90px;
}

   /* Fifth block */

   .fifth-block {
     width: 340px;
     background-color: #F5F5F5;
     border-radius: 30px;
   }

   .fifth-block-text {
     padding-bottom: 45px;
   }

   .text-inside-fifth-block {
     font-size: 15px;
     line-height: 160%;
     margin: 25px 37px 0 20px;
     text-align: left;

     flex: none;
     order: 0;
     flex-grow: 0;
   }

   .first-article {
     margin-top: 45px;
     font-weight: 500;
    font-size: 24px;
    line-height: 33px;
     text-transform: none;
   }

   /* Sixth block */

   .block-sixth {
     margin: 85px auto 35px;
     width: 340px;
     border-radius: 30px;
     height: auto;
   }

   .sixth-block {
     width: 300px;
   }

   .lesson-plan-body {
     flex-direction: column;
   }

   .certificate-text {
     width: 300px;
     font-weight: 400;
     font-size: 15px;
     line-height: 24px;

     text-align: left;
     margin-left: 20px;
     margin-top: 35px;
   }

   .lesson-plan-form {
     margin: 45px 20px 45px;
     width: 250px;

     height: 583px;
     border-radius: 25px;
     padding: 46px 25px 25px 25px;
   }

   .form-button {
     margin: 25px 73.5px 10px 73.5px;
   }

   input {
     width: 95%;
   }

   .form-text {
     font-size: 13px;
     line-height: 18px;
     margin-bottom: 20px;
   }

   .certificate-text-title {
   margin-left: 0;
   margin-top: 0;
   white-space: normal;
    }

 .next-lines {
   margin-left: 0;
   margin-bottom: 0;
 }

   /* Seventh block */

   .block-seventh {
     gap: 85px;
   }

   .seventh-first-block {
     width: 340px;
     border-radius: 30px;
     padding-bottom: 100px;
   }

   .mapArticle {
     padding-bottom: 0;
     font-size: 24px;
     line-height: 38px;
   }

   .text-inside-seventh-block {
     width: 260px;
   }

   .seventh-second-block {
     width: 340px;
     height: 340px;
     border-radius: 30px;
     background-color: #F5F5F5;
     display: flex;
     align-items: center;
   }

   .img-seventh {
     width: 340px;
     margin: auto;
   }

       .img-seventh {
      width: 100%;
      height: 100%;
      border-radius: 40px;
      overflow: hidden;
    }

   .arrow-left,
  .arrow-right {
    font-size: 40px;
    width: 8px;
    font-family: Mishafi, sans-serif;
  }

   .arrow-left {
     left: -10;
   }

   .allow-right {
     right: -10;
   }


   /* Eighth block */

   .block-eight {
     align-content: center;
     margin: 85px auto;
     display: block;
     border-radius: 30px;

     width: 350px;
     height: 430px;
   }

   .cards-second {
     margin-left: 50px;
     margin-right: 50px;
     height: 200px;
   }

   .main-text {
     width: 316px;
     font-weight: 500;
     font-size: 25px;
     line-height: 160%;
   }
 }
