@import '../../fonts.css';

body {
  font-family: 'Manrope', sans-serif;
}

.footer {
  width: 100%;
  height: 320px;
  background: #F2FCBE;
  display: flex;
}

.footer-left-container,
.footer-right-container {
  display: flex;
  flex-direction: column;
  padding: 62px 60px 70px;
}

.footer-left-container {
  width: 475px;
  margin-left: 30px;
}

.footer-right-container {
  width: 342px;
  padding-left: 0;
  margin-right: 60px;
  margin-left: calc(50vw - 250px);
}

.footer-left-text,
.footer-right-text {
  margin: 0;
}

.footer-left-text {
  font-size: 20px;
  margin-bottom: 30px;
}

.footer-left-text-contacts {
  font-weight: 400;
}

.footer-right-text {
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
}

.footer-right-contacts {
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 30px;
}

.footer-left-text,
.footer-left-text-contacts,
.footer-right-text,
.footer-right-contacts {
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  color: #1B1B1B;
}

.footer-link {
  color: #1B1B1B;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: #a0eae8;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: 100%;
    height: 393px;
    background: #F2FCBE;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding-left: 25px;
    padding-top: 45px;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
  }


  .footer-left-container,
  .footer-right-container {
    display: inline;
    padding: 0;
  }

  .footer-left-container {
    width: 319px;
  }

  .footer-right-container {
    width: 240px;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .footer-left-text,
  .footer-right-text {
    margin: 0;
  }

  .footer-left-text {
    font-size: 13px;
    padding-bottom: 35px;
  }

  .footer-left-text-contacts {
    font-weight: 400;
    line-height: 21px;
    font-size: 13px;
  }

  .footer-right-text {
    font-weight: 400;
    line-height: 21px;
    font-size: 13px;
  }


  .footer-left-text,
  .footer-left-text-contacts,
  .footer-right-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #1B1B1B;
  }

}
