.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #FFFFFF;
  padding: 0 45px;
  height: 109px;

  .header-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 135px;
  }

  .header-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.12px;
    color: #1B1B1B;
    margin-left: 24px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: #1B1B1B;
    }
  }
}
